body{
    background-color: beige;
    text-align: center;
   
}
.first{
display: flex;
flex-direction: row;
justify-content: space-between;
}
.second{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    }

    .video{
        height: 500px;
        width: 700px;
    }
    p{
        font-size: 25px;
    }
    .third{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        }
        .fourth{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            }

            .h1{
                text-decoration: double;
                background-color: chocolate;
            }