body{
    background-color: cornflowerblue;
    text-align: center;
    font-size: 25px;
}
h1{
    text-shadow: 2px red;
}
.second{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}